{
    "jenkins": {
        "host": "http://example.com",
        "user": "sampleUser",
        "token": "asdfa9fka09089k2i2l3l24lksd8979f"
    },
    "github": {
        "user": "sampleUser",
        "token": "sdfaerw423452354325345esrgsdfgsturyu5sf456",
        "address": [
            "192.30.252.0/22",
            "185.199.108.0/22",
            "140.82.112.0/20"
        ]
    },
    "debug": true,
    "validate_sourceip": true,
    "use_proxyfix": false
}